/* main text color #757575 */
/* secondary text color #212121 */
/* emphasis color #2196F3 */
/* white #FFFFFF */
/* hero background color #2F303A */
/* third text color rgba(255, 255, 255, 0.6); */
/* crew background color #F5F4FA */

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --emphasis-color: #2196f3;
  --page-background-color: #ffffff;
  --hero-title-color: #ffffff;
  --hero-background-color: #2f303a;
  --adress-links-text-color: rgba(255, 255, 255, 0.6);
  --crew-background-color: #f5f4fa;
}

body {
  color: var(--main-text-color);
  background-color: var(--page-background-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.title {
  color: var(--secondary-text-color);
}

/* Header Styles */
.logo {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.logo-web {
  color: var(--emphasis-color);
}
.site-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--emphasis-color);
}
.adress-nav .link {
  color: var(--main-text-color);
}
.adress-nav .link:hover,
.adress-nav .link:focus {
  color: var(--emphasis-color);
}

/* Footer Styles */
.footer {
  background-color: var(--hero-background-color);
}
.footer .logo {
  color: var(--hero-title-color);
}
.footer-adress-nav {
  color: var(--hero-title-color);
}
.footer-adress-nav .link {
  color: var(--adress-links-text-color);
}
.footer-adress-nav .link:hover,
.footer-adress-nav .link:focus {
  color: var(--emphasis-color);
}

/* Hero section styles */
.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  color: var(--hero-title-color);
}
.hero .link {
  color: var(--hero-title-color);
}
.hero .link:hover,
.hero .link:focus {
  color: var(--emphasis-color);
}

/* Features section styles */
.features .title {
}
.features .text {
}

/* Portfolio.html personal styles */
.our-projects-nav .link {
  color: var(--secondary-text-color);
}
.our-projects-nav .link:hover,
.our-projects-nav .link:focus {
  color: var(--emphasis-color);
}
.our-projects-list .text {
  color: var(--main-text-color);
}
.our-projects-list .link:hover,
.our-projects-list .link:focus {
  color: var(--emphasis-color);
}
